<html data-theme="dark">
  <head>
    <title>Boilerplate | Admin</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="app"></div>

    <%= vite_javascript_tag 'admin' %>
  </body>
</html>
